In [1]:
import pandas as pd
import glob
import os

In [2]:
os.path.basename('./CANCER INCIDENCE IN FIVE CONTINENTS VOLUME XI/557800099.csv').split('.')[0]

'557800099'

In [3]:
df_seed = pd.read_csv('./CANCER INCIDENCE IN FIVE CONTINENTS VOLUME XI/557800099.csv', header=None)
df_seed['filename'] = os.path.basename('./CANCER INCIDENCE IN FIVE CONTINENTS VOLUME XI/557800099.csv').split('.')[0]
df_seed

      0    1   2    3       4   filename
0     1    1   1  166  782379  557800099
1     1    1   2   81  765310  557800099
2     1    1   3  113  804680  557800099
3     1    1   4  191  829743  557800099
4     1    1   5  338  795997  557800099
...  ..  ...  ..  ...     ...        ...
9153  2  241  15   83  425442  557800099
9154  2  241  16  135  368967  557800099
9155  2  241  17  186  327494  557800099
9156  2  241  18  337  383889  557800099
9157  2  241  19    0       0  557800099

[9158 rows x 6 columns]

In [4]:
df_seed = df_seed.rename(columns={0:'sex',
                       1:'site',
                       2:'age',
                       3:'number',
                       4:'years_at_risk'})

In [5]:
path = './CANCER INCIDENCE IN FIVE CONTINENTS VOLUME XI/'
all_files = glob.glob(path + "/*.csv")
for filename in all_files:
    df_file = pd.read_csv(filename, header=None)
    df_file['filename'] = os.path.basename(filename).split('.')[0]
    df_file = df_file.rename(columns={0:'sex',
                       1:'site',
                       2:'age',
                       3:'number',
                       4:'years_at_risk'})
    df_seed=pd.concat([df_seed,df_file])

In [6]:
df_seed

      sex  site  age  number  years_at_risk   filename
0       1     1    1     166         782379  557800099
1       1     1    2      81         765310  557800099
2       1     1    3     113         804680  557800099
3       1     1    4     191         829743  557800099
4       1     1    5     338         795997  557800099
...   ...   ...  ...     ...            ...        ...
9153    2   241   15       9          10660  655400029
9154    2   241   16       6           6725  655400029
9155    2   241   17       6           3885  655400029
9156    2   241   18       3           2325  655400029
9157    2   241   19       0              0  655400029

[4258470 rows x 6 columns]

In [7]:
data = pd.read_fwf("./CANCER INCIDENCE IN FIVE CONTINENTS VOLUME XI/cancer_detailed.txt")

In [8]:
data = data.drop(columns=['Unnamed: 2', 'Unnamed: 3']).dropna(0)

In [9]:
data = data.rename(columns={'001': 'code', 'All sites (C00-96)' : 'cancer'})

In [10]:
data['cancer'] = data['cancer'].str.split('(', expand=True, n=0)

In [11]:
data['cancer']  = data['cancer'].str.strip()

In [12]:
cancer_dict = dict(zip(data.code, data.cancer))
cancer_dict

{2.0: 'All sites but skin',
 3.0: 'Lip',
 4.0: 'Base of tongue',
 5.0: 'Tongue, other and unspecified parts',
 6.0: 'Mouth, gum',
 7.0: 'Mouth, floor of',
 8.0: 'Mouth, palate',
 9.0: 'Mouth, other and unspecified parts',
 10.0: 'Parotid gland',
 11.0: 'Salivary glands, other and unspecified',
 12.0: 'Tonsil',
 13.0: 'Oropharynx',
 14.0: 'Nasopharynx',
 15.0: 'Pyriform sinus',
 16.0: 'Hypopharynx',
 17.0: 'Pharynx unspecified',
 18.0: 'Oesophagus',
 19.0: 'Squamous cell carcinoma',
 20.0: 'Adenocarcinoma',
 21.0: 'Other specified carcinoma',
 22.0: 'Unspecified carcinoma',
 23.0: 'Sarcoma',
 24.0: 'Other specified morphology',
 25.0: 'Unspecified morphology',
 26.0: 'Upper third',
 27.0: 'Middle third',
 28.0: 'Lower third',
 29.0: 'Other and unspecified parts',
 30.0: 'Stomach',
 31.0: 'Cardia',
 32.0: 'Fundus',
 33.0: 'Body',
 34.0: 'Pylorus and antrum',
 35.0: 'Other and unspecified parts',
 36.0: 'Small intestine',
 37.0: 'Colon',
 38.0: 'Right',
 39.0: 'Transverse and flexures',
 40.0: 'Descending',
 41.0: 'Sigmoid',
 42.0: 'Other and unspecified parts',
 43.0: 'Rectosigmoid junction',
 44.0: 'Rectum',
 45.0: 'Anus',
 46.0: 'Squamous cell carcinoma',
 47.0: 'Adenocarcinoma',
 48.0: 'Other specified carcinoma',
 49.0: 'Unspecified carcinoma',
 50.0: 'Melanoma',
 51.0: 'Other morphology',
 52.0: 'Unspecified morphology',
 53.0: 'Liver',
 54.0: 'Hepatocellular carcinoma',
 55.0: 'Cholangiocarcinoma',
 56.0: 'Other specified carcinoma',
 57.0: 'Unspecified carcinoma',
 58.0: 'Hepatoblastoma',
 59.0: 'Haemagiosarcoma',
 60.0: 'Other specified sarcoma',
 61.0: 'Other morphology',
 62.0: 'Unspecified morphology',
 63.0: 'Gallbladder',
 64.0: 'Other and unspecified parts of biliary tract',
 65.0: 'Pancreas',
 66.0: 'Other and ill-defined digestive organs',
 67.0: 'Nasal cavity and middle ear',
 68.0: 'Accessory sinuses',
 69.0: 'Larynx',
 70.0: 'Trachea',
 71.0: 'Lung',
 72.0: 'Squamous cell carcinoma',
 73.0: 'Adenocarcinoma',
 74.0: 'Small cell carcinoma',
 75.0: 'Large cell carcinoma',
 76.0: 'Other specified carcinoma',
 77.0: 'Sarcoma',
 78.0: 'Other morphology',
 79.0: 'Unspecified morphology',
 80.0: 'Thymus',
 81.0: 'Heart, mediastinum and pleura',
 82.0: 'Other and unspecified respiratory and intrathoracic',
 83.0: 'Bone',
 84.0: 'Osteosarcoma',
 85.0: 'Chondrosarcoma',
 86.0: 'Ewing sarcoma',
 87.0: 'Other specified sarcomas',
 88.0: 'Unspecified sarcoma',
 89.0: 'Other specified morphology',
 90.0: 'Unspecified morphology',
 91.0: 'Bone of limbs',
 92.0: 'Other bones',
 93.0: 'Melanoma of skin',
 94.0: 'Head',
 95.0: 'Trunk',
 96.0: 'Upper limb',
 97.0: 'Lower limb',
 98.0: 'Other and unspecified',
 99.0: 'Non-melanoma skin cancer',
 100.0: 'Squamous cell carcinoma',
 101.0: 'Basal cell carcinoma',
 102.0: 'Other specified carcinoma',
 103.0: 'Unspecified carcinoma',
 104.0: 'Other morphology',
 105.0: 'Unspecified morphology',
 106.0: 'Mesothelioma',
 107.0: 'Kaposi sarcoma',
 108.0: 'Peripheral nerves',
 109.0: 'Peritoneum and retroperitoneum',
 110.0: 'Connective and soft tissue',
 111.0: 'Breast',
 112.0: 'Vulva',
 113.0: 'Vagina',
 114.0: 'Cervix uteri',
 115.0: 'Squamous cell carcinoma',
 116.0: 'Adenocarcinoma',
 117.0: 'Other specified carcinoma',
 118.0: 'Unspecified carcinoma',
 119.0: 'Sarcoma',
 120.0: 'Other morphology',
 121.0: 'Unspecified morphology',
 122.0: 'Corpus uteri',
 123.0: 'Adenocarcinoma',
 124.0: 'Other specified carcinoma',
 125.0: 'Unspecified carcinoma',
 126.0: 'Sarcoma',
 127.0: 'Other morphology',
 128.0: 'Unspecified morphology',
 129.0: 'Uterus unspecified',
 130.0: 'Ovary',
 131.0: 'Serous carcinoma',
 132.0: 'Mucinous carcinoma',
 133.0: 'Endometrioid carcinoma',
 134.0: 'Clear cell carcinoma',
 135.0: 'Adenocarcinoma',
 136.0: 'Other specified carcinoma',
 137.0: 'Unspecified carcinoma',
 138.0: 'Sex cord-stromal tumour',
 139.0: 'Germ cell tumour',
 140.0: 'Other morphology',
 141.0: 'Unspecified morphology',
 142.0: 'Other female genital organs',
 143.0: 'Fallopian tube',
 144.0: 'Other and unspecified female genital organs',
 145.0: 'Placenta',
 146.0: 'Penis',
 147.0: 'Prostate',
 148.0: 'Testis',
 149.0: 'Seminoma',
 150.0: 'Spermatocytic seminoma',
 151.0: 'Non-seminomatous germ cell tumours',
 152.0: 'Other specified morphology',
 153.0: 'Unspecified morphology',
 154.0: 'Other male genital organs',
 155.0: 'Kidney and renal pelvis',
 156.0: 'Squamous, transitional cell carcinoma',
 157.0: 'Renal cell carcinoma',
 158.0: 'Other specified carcinoma',
 159.0: 'Unspecified carcinoma',
 160.0: 'Other morphology',
 161.0: 'Unspecified morphology',
 162.0: 'Kidney',
 163.0: 'Renal pelvis',
 164.0: 'Ureter',
 165.0: 'Bladder',
 166.0: 'Squamous cell carcinoma',
 167.0: 'Transitional cell carcinoma',
 168.0: 'Adenocarcinoma',
 169.0: 'Other specified carcinoma',
 170.0: 'Unspecified carcinoma',
 171.0: 'Sarcoma',
 172.0: 'Other morphology',
 173.0: 'Unspecified morphology',
 174.0: 'Other urinary organs',
 175.0: 'Eye',
 176.0: 'Retinoblastoma',
 177.0: 'Melanoma',
 178.0: 'Squamous cell carcinoma',
 179.0: 'Other specified carcinoma',
 180.0: 'Unspecified carcinoma',
 181.0: 'Sarcoma',
 182.0: 'Other morphology',
 183.0: 'Unspecified morphology',
 184.0: 'Meninges',
 185.0: 'Central nervous system',
 186.0: 'Astrocytic tumours',
 187.0: 'Oligodendroglial tumours and mixed gliomas',
 188.0: 'Ependymal tumours',
 189.0: 'Gliomas of uncertain origin',
 190.0: 'Medulloblastoma',
 191.0: 'Other embryonal tumours',
 192.0: 'Other neuroepithelial tumours',
 193.0: 'Other specified morphology',
 194.0: 'Unspecified morphology',
 195.0: 'Brain',
 196.0: 'Other parts of central nervous system',
 197.0: 'Spinal cord, cauda equina',
 198.0: 'Cranial nerves',
 199.0: 'Nervous system, NOS',
 200.0: 'Thyroid',
 201.0: 'Follicular carcinoma',
 202.0: 'Papillary carcinoma',
 203.0: 'Medullary carcinoma',
 204.0: 'Anaplastic carcinoma',
 205.0: 'Other specified carcinoma',
 206.0: 'Unspecified carcinoma',
 207.0: 'Sarcoma',
 208.0: 'Other morphology',
 209.0: 'Unspecified morphology',
 210.0: 'Adrenal gland',
 211.0: 'Other endocrine',
 212.0: 'Hodgkin lymphoma',
 213.0: 'Nodular lymphocytic predominance',
 214.0: 'Classical lymphocyte-rich',
 215.0: 'Nodular sclerosis',
 216.0: 'Mixed cellularity',
 217.0: 'Lymphocytic depletion',
 218.0: 'Unspecified',
 219.0: 'Non-Hodgkin lymphoma',
 220.0: 'Burkitt lymphoma',
 221.0: 'Immunoproliferative diseases',
 222.0: 'Extranodal marginal zone B-cell lymphoma of mucosa-',
 223.0: 'Multiple myeloma',
 224.0: 'Lymphoid leukaemia',
 225.0: 'Acute',
 226.0: 'Chronic',
 227.0: 'Other specified',
 228.0: 'Unspecified',
 229.0: 'Myeloid leukaemia',
 230.0: 'Acute',
 231.0: 'Chronic',
 232.0: 'Other',
 233.0: 'Unspecified',
 234.0: 'Leukaemia, cell unspecified',
 235.0: 'Acute',
 236.0: 'Chronic',
 237.0: 'Other',
 238.0: 'Unspecified',
 239.0: 'Myeloproliferative disorders',
 240.0: 'Myelodysplastic syndromes',
 241.0: 'Other, ill-defined and unspecified cancers'}

In [13]:
data

      code                                      cancer
0      2.0                          All sites but skin
1      3.0                                         Lip
2      4.0                              Base of tongue
3      5.0         Tongue, other and unspecified parts
4      6.0                                  Mouth, gum
..     ...                                         ...
235  237.0                                       Other
236  238.0                                 Unspecified
237  239.0                Myeloproliferative disorders
238  240.0                   Myelodysplastic syndromes
239  241.0  Other, ill-defined and unspecified cancers

[240 rows x 2 columns]

In [14]:
df_seed['number'] = df_seed['number'].map(cancer_dict)

In [15]:
df_seed

,sex,site,age,number,years_at_risk,filename
0,1,1,1,Squamous cell carcinoma,782379,557800099
1,1,1,2,"Heart, mediastinum and pleura",765310,557800099
2,1,1,3,Vagina,804680,557800099
3,1,1,4,Other embryonal tumours,829743,557800099
4,1,1,5,NaN,795997,557800099
...,...,...,...,...,...,...
9153,2,241,15,"Mouth, other and unspecified parts",10660,655400029
9154,2,241,16,"Mouth, gum",6725,655400029
9155,2,241,17,"Mouth, gum",3885,655400029
9156,2,241,18,Lip,2325,655400029
9157,2,241,19,NaN,0,655400029

In [16]:
country =  pd.read_fwf("./CANCER INCIDENCE IN FIVE CONTINENTS VOLUME XI/registry_detailed.txt", header=None)

In [17]:
country_df = country.drop(columns=2)
country_df[1] = country_df[1].str.strip('*').str.split(',', expand=True, n=0)
country_df = country_df.rename(columns={0:'code', 1:'country'})
country_df['code'] = country_df['code'].astype(str)
country_dict = dict(zip(country_df.code, country_df.country))

In [19]:
df = df_seed.copy()
df['filename'] = df['filename'].map(country_dict)
df = df.rename(columns = {'filename':'country'})

In [22]:
df = df.rename(columns={'number': 'cancer'})

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4258470 entries, 0 to 9157
Data columns (total 6 columns):
sex              int64
site             int64
age              int64
cancer           object
years_at_risk    int64
country          object
dtypes: int64(4), object(2)
memory usage: 227.4+ MB

In [25]:
df.isna().sum()

sex                    0
site                   0
age                    0
cancer           3198915
years_at_risk          0
country                0
dtype: int64

In [27]:
df.dropna().isna().sum()

sex              0
site             0
age              0
cancer           0
years_at_risk    0
country          0
dtype: int64

In [28]:
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1059555 entries, 0 to 9156
Data columns (total 6 columns):
sex              1059555 non-null int64
site             1059555 non-null int64
age              1059555 non-null int64
cancer           1059555 non-null object
years_at_risk    1059555 non-null int64
country          1059555 non-null object
dtypes: int64(4), object(2)
memory usage: 56.6+ MB

In [33]:
df['cancer'].value_counts()

All sites but skin                                     183034
Lip                                                    114892
Base of tongue                                          81343
Tongue, other and unspecified parts                     61985
Mouth, gum                                              49044
                                                        ...
Myeloid leukaemia                                         262
Myelodysplastic syndromes                                 256
Leukaemia, cell unspecified                               255
Extranodal marginal zone B-cell lymphoma of mucosa-       242
Other, ill-defined and unspecified cancers                228
Name: cancer, Length: 163, dtype: int64