# Job Board Scraping Lab

In this lab you will first see a minimal but fully functional code snippet to scrape the LinkedIn Job Search webpage. You will then work on top of the example code and complete several chanllenges.

### Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [21]:
# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords, num_pages=0):
    
        
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])
    
# ---------------------------- adding the num_pages_param ------------------------------------------    
    urls = [scrape_url]
    if num_pages:
        n = 0
        for i in range(num_pages):            
            urls.append(scrape_url + '&start='+str(int(i) * n))
            n += 25                       
        
    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    pages = [page]    
    
    if num_pages:
        for i in urls:
            pages.append(requests.get(i))
    
    soup = BeautifulSoup(page.text, 'html.parser')
    soups = str(soup)
    if num_pages:
        for i in pages:
            soups += '\n' + str(BeautifulSoup(i.text, 'html.parser'))
        soup = BeautifulSoup(soups, 'html.parser')
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [22]:
# Example to call the function

results = scrape_linkedin_job_search('data%20analysis', 2)
results

,Title,Company,Location
0,Director of Data Analysis,Opinion Dynamics,"Waltham, Massachusetts"
1,Procurement Executive – Data Analysis (Contract),Blue Signal Search,"Decatur, IL, US"
2,Data Scientist – Image Recognition and Analysis,Electric Power Research Institute (EPRI),"Charlotte, North Carolina, United States"
3,"Senior Analyst, Data and Analysis",Digitas North America,Greater Boston Area
4,Associate / Business Analyst (Consulting Data ...,"Foresight Associates, LLC",Greater Minneapolis-St. Paul Area
...,...,...,...
120,Core Data - Data Analyst/ Data Architect,Apple,"Cupertino, CA, US"
121,Data Analyst,"Partner's Consulting, Inc.","Philadelphia, Pennsylvania"
122,Data Analyst,Brooksource,"Philadelphia, Pennsylvania"
123,"Manager, Data Architecture and Analysis",Verizon Connect,"Atlanta, GA, US"
124,Data Analyst,24 Seven LLC,"Portland, Oregon"

## Challenge 1

The first challenge for you is to update the `scrape_linkedin_job_search` function by adding a new parameter called `num_pages`. This will allow you to search more than 25 jobs with this function. Suggested steps:

1. Go to https://www.linkedin.com/jobs/search/?keywords=data%20analysis in your browser.
1. Scroll down the left panel and click the page 2 link. Look at how the URL changes and identify the page offset parameter.
1. Add `num_pages` as a new param to the `scrape_linkedin_job_search` function. Update the function code so that it uses a "for" loop to retrieve several pages of search results.
1. Test your new function by scraping 5 pages of the search results.

Hint: Prepare for the case where there are less than 5 pages of search results. Your function should be robust enough to **not** trigger errors. Simply skip making additional searches and return all results if the search already reaches the end.

In [ ]:
# challenge 1 is saved up, 

import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords, num_pages=0):
    
        
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])
    
# ---------------------------- adding the num_pages_param ------------------------------------------    
    urls = [scrape_url]
    if num_pages:
        n = 0
        for i in range(num_pages):            
            urls.append(scrape_url + '&start='+str(int(i) * n))
            n += 25                       
        
    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    pages = [page]    
    
    if num_pages:
        for i in urls:
            pages.append(requests.get(i))
    
    soup = BeautifulSoup(page.text, 'html.parser')
    soups = str(soup)
    if num_pages:
        for i in pages:
            soups += '\n' + str(BeautifulSoup(i.text, 'html.parser'))
        soup = BeautifulSoup(soups, 'html.parser')
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

## Challenge 2

Further improve your function so that it can search jobs in a specific country. Add the 3rd param to your function called `country`. The steps are identical to those in Challange 1.

In [28]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords, num_pages=0 , country=''):
    
    location = country.strip()
        
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])
    if location:
            scrape_url = ''.join([BASE_URL, 'keywords=', keywords, '&location=', location] )
# ---------------------------- adding the num_pages_param ------------------------------------------    
    urls = [scrape_url]
    if num_pages:
        n = 0
        for i in range(num_pages):            
            urls.append(scrape_url + '&start='+str(int(i) * n))
            n += 25                       
        
    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    pages = [page]    
    
    if num_pages:
        for i in urls:
            pages.append(requests.get(i))
    
    soup = BeautifulSoup(page.text, 'html.parser')
    soups = str(soup)
    if num_pages:
        for i in pages:
            soups += '\n' + str(BeautifulSoup(i.text, 'html.parser'))
        soup = BeautifulSoup(soups, 'html.parser')
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [29]:
results = scrape_linkedin_job_search('data%20analysis', 2, 'Germany')
results

,Title,Company,Location
0,Senior Data Analyst,komoot,"Berlin, Berlin, Germany"
1,Data Analyst,Amazon,"Munich, DE"
2,Data Analyst - Finance,Jimdo,"Hamburg, Hamburg, Germany"
3,Head of Risk Analytics & Data Science (all gen...,Spotcap Global,"Berlin und Umgebung, Deutschland"
4,Data Analyst,Euro London Appointments,"Berlin, Berlin, Germany"
...,...,...,...
120,Senior Data Analyst / Consultant,Agoda,"Munich, DE"
121,Data Scientist - Lead Scoring and Pricing - Be...,Frontier Car Group,"Berlin, DE"
122,Senior Manager Data Analysis (m/w/d),human council gmbh,"Munich, DE"
123,Data-Analyst /Data-Scientist (m/f/d),Schwäbisch Media,"Stuttgart, DE"
124,Data Scientist (f/m/d) Computer Vision & AI-su...,Beiersdorf,"Hamburg, DE"

## Challenge 3

Add the 4th param called `num_days` to your function to allow it to search jobs posted in the past X days. Note that in the LinkedIn job search the searched timespan is specified with the following param:

```
f_TPR=r259200
```

The number part in the param value is the number of seconds. 259,200 seconds equal to 3 days. You need to convert `num_days` to number of seconds and supply that info to LinkedIn job search.

In [33]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords, num_pages=0 , country='', num_days=0):
    
    # ---------------------- ADDING THE LOCATION PARAM -------------------------------
    location = country.strip()
        
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])
    if location:
            scrape_url = ''.join([BASE_URL, 'keywords=', keywords, '&location=', location] )
   
# ###### ---------------------- ADDING THE DAY PARAM -------------------------------
    location = country.strip() 
    day = 86400 * int(num_days)
    if num_days:
            scrape_url = ''.join([BASE_URL,  '?f_TPR=r', str(day), '&geoId=101282230&keywords=', keywords, '&location=', location] )
# ---------------------------- adding the num_pages_param ------------------------------------------    
    urls = [scrape_url]
    if num_pages:
        n = 0
        for i in range(num_pages):            
            urls.append(scrape_url + '&start='+str(int(i) * n))
            n += 25                       
        
    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    pages = [page]    
    
    if num_pages:
        for i in urls:
            pages.append(requests.get(i))
    
    soup = BeautifulSoup(page.text, 'html.parser')
    soups = str(soup)
    if num_pages:
        for i in pages:
            soups += '\n' + str(BeautifulSoup(i.text, 'html.parser'))
        soup = BeautifulSoup(soups, 'html.parser')
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [35]:
results = scrape_linkedin_job_search('data analysis', 2, 'Germany', 24)
results

,Title,Company,Location
0,Professional Consultant (f/m/d) Procurement Da...,CAMELOT Management Consultants,"Mannheim, Baden-Württemberg, Germany"
1,Microsoft Analytics Consultant (w/m/x),Avanade,"Düsseldorf, DE"
2,Product Owner (m/f/d),Limehome GmbH,"München, Bayern, Deutschland"
3,Data Architect - McKinsey Digital,McKinsey & Company,"Berlin, DE"
4,Senior Data Analyst,Amazon,"Munich, DE"
...,...,...,...
120,Learning & Development Specialist: Data Analys...,HERE Technologies,"Berlin, DE"
121,Senior Data Scientist - Data & Machine Learnin...,Delivery Hero,"Berlin, DE"
122,BI & Data Analytics Projekt-Manager,Airbus,"Donauwörth, Bayern, Deutschland"
123,Business Data Analyst,zeroG,"Raunheim, DE"
124,Senior Data Scientist,Lab1886,"Berlin Area, Germany"

## Bonus Challenge

Allow your function to also retrieve the "Seniority Level" of each job searched. Note that the Seniority Level info is not in the initial search results. You need to make a separate search request for each job card based on the `currentJobId` value which you can extract from the job card HTML.

After you obtain the Seniority Level info, update the function and add it to a new column of the returned dataframe.

In [ ]:
# your code here